.mtl-wrapper{
    display: flex;
    flex-direction: column;
    overflow-x: auto;
    background: rgba(196, 198, 199, 0.616);
    font-family: Arial;
}

/*Header Style*/
.mtl-header{
    display: flex;
    flex-direction: row;
    padding: 5px 5px 5px 5px;
    width:100%;
    flex:1;
    top: 0;
    z-index:10;
    border: 2px solid #000;

}

.mtl-day{
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 10px 10px 10px 10px;

    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    z-index: 5;
    .mtl-day-content{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #eff6ff;
        font-size: medium;
        font-weight: bold;
        color: #1e40af;
        border-radius: 100%;
    }
}

/*Events Style*/

.mtl-body{
    margin-top: 6px;
    display: flex;
    flex-direction: row;
}

.mtl-day-event{
    display: flex;
    flex-direction: column;
}

.mtl-event{
    display: flex;
    text-wrap: wrap;
    flex-direction: row;
    margin-top: 2px;
    margin-bottom: 2px;
    top: 0;
    padding: 5px 5px 5px 5px;
    background-color: #ab01fa9f;
    border: 1px dashed #7c00b6;
}

.mtl-event-title{
    font-weight: bold;
}